{% extends "main.html" %}

{% block content %}
<main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Medicines</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Medicine </label>
              <input class="input input--text" id="formInput#search" type="text" name="text"
                placeholder="Search by Medicine Title" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          {% for medicine in medicines %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'medicine' medicine.id %}" class="project__link" >
                <div class="project__image-container">
                    <img class="project__image" src="{{medicine.image.url}}" alt="medicine thumbnail" />
                </div>
                <div class="card__body">
                  <h3 class="project__author">{{medicine.generic_name}}</h3>
                  <h3 class="project__title">{{medicine.name}}</h3>
                  <p class="project__author">{{medicine.manufacturer_name}}</p>
                  {% if medicine.sell_price %}
                  <p class="project__author">{{medicine.sell_price}} ৳</p>
                  {% else  %}
                  <p class="project__author">0.00 ৳</p>
                  {% endif %}
                  <p class="project--rating">
                    <span style="font-weight: bold;">Added</span> {{medicine.created}}
                  </p>
                  <div>
                    <a href="{% url 'update-medicine' medicine.id %}" class="btn btn--sub btn--md  my-md">Edit</a>
                    <a href="{% url 'delete-medicine' medicine.id %}" class="btn btn--sub btn--md  my-md">Delete</a>
                </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}