{% extends "main.html" %}
{% load static %}
{% block content %}
<main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Medicines</span></h2>
        </div>

        <div class="hero-section__search">
          <a href="{% url 'create-medicine' %}" class="btn btn--sub btn--orange">Add Medicine</a>
          <form id="searchForm" class="form" action="{% url 'medicines' %}" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Medicine </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                value="{{search_query}}" placeholder="Search by Medicine Title, Generic Name or Manufacturer" />
            </div>
            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <section class="container">
      <h2 class="section-heading">Statistics</h2>
      <div class="total-medicines">
        <span>Total medicines added:</span>
        <span class="count">{{ medicine_count }}</span>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          {% for medicine in medicines %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'medicine' medicine.id %}" class="project__link" >
                <div class="project__image-container">
                    {% if medicine.image and medicine.image.url %}
                        <img class="project__image" src="{{ medicine.image.url }}" alt="medicine thumbnail" />
                    {% else %}
                        <img class="project__image" src="{% static 'images/default.png' %}" alt="default thumbnail" />
                    {% endif %}
                </div>
                <div class="card__body">
                  <h3 class="project__author">{{medicine.generic_name}}</h3>
                  <h3 class="project__title">{{medicine.name}}</h3>
                  <p class="project__author">Manufactured by {{medicine.manufacturer}}</p>
                  {% if medicine.sell_price %}
                  <p class="project__author">{{medicine.sell_price}} ৳</p>
                  {% else  %}
                  <p class="project__author">0.00 ৳</p>
                  {% endif %}
                  <p class="project--rating">
                    <span style="font-weight: bold;">Added</span> {{medicine.created}}
                  </p>
                  <a href="{% url 'update-medicine' medicine.id %}" class="btn btn--sub btn--md  my-md">Edit</a>
                  <a href="{% url 'delete-medicine' medicine.id %}" class="btn btn--sub btn--md  my-md">Delete</a>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'pagination.html' with queryset=medicines %}
  </main>
{% endblock %}
